$wetf-text: #04294F;
$wetf-dark-blue: #405773;
$wetf-organge: #FFB400;
$wetf-skin: #F0CBA6;
$wetf-mid-blue: #7EC8E9;
$wetf-light-blue: #CCEAF7;
$wetf-logo-blue: #639EE1;
$wetf-red: #BC5746;
$wetf-green: #99AB51;
$wetf-stroke: #2604294F;

$wetf-dark-blue-rgb: 64, 87, 115;
$wetf-white: #fff;

$wetf-white-secondary: #f6f6f6;
$wetf-black-secondary: #222;

@font-face {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    src: url('fonts/manrope/manrope.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('fonts/manrope/manrope.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('fonts/manrope/manrope.woff2') format('woff2'), /* Super Modern Browsers */
         url('fonts/manrope/manrope.woff') format('woff'), /* Modern Browsers */
         url('fonts/manrope/manrope.ttf') format('truetype'), /* Safari, Android, iOS */
         url('fonts/manrope/manrope.svg#Manrope') format('svg'); /* Legacy iOS */
  }

:root {
    /* Base color scheme */ 
    --ifm-color-primary: #{$wetf-organge};
    --ifm-color-secondary: #ebedf0;
    --ifm-color-success: #{$wetf-green};
    --ifm-color-info: #{$wetf-mid-blue};
    --ifm-color-warning: #{$wetf-organge};
    --ifm-color-danger: #{$wetf-red};
    --ifm-color-primary-dark: #{$wetf-dark-blue};
    --ifm-color-primary-light: #{$wetf-mid-blue};
    --ifm-color-primary-lighter: #{$wetf-light-blue};    
    --ifm-background-secondary: #{$wetf-white-secondary};    
    /* Hero and footer */ 
    --ifm-menu-color: #{$wetf-text};
    --ifm-hero-background-color: #{$wetf-dark-blue};
    --ifm-footer-background-color: #{$wetf-dark-blue};
    --ifm-footer-link-color: #{$wetf-stroke};
    /* Font */
    --ifm-font-family-base: 'Manrope';
    --ifm-code-font-size: 95%;
    --ifm-link-hover-color: #{$wetf-organge};
    --ifm-link-hover-decoration: none;
  }
  
  [data-theme='dark'] {
    /* Base color scheme */
    --ifm-color-primary: #{$wetf-organge};
    --ifm-color-primary-dark: #{$wetf-dark-blue};
    --ifm-color-primary-light: #{$wetf-mid-blue};
    --ifm-color-primary-lighter: #{$wetf-light-blue};
    --ifm-background-secondary: #{$wetf-black-secondary};    
    /* Style Search Plugin */
    --aa-primary-color-rgb: #{$wetf-white} !important;
    --aa-muted-color-rgb: #{$wetf-white} !important;  
    /* Menu and navigation */
    --ifm-navbar-link-color: #{$wetf-white};
    --ifm-dropdown-link-color: #{$wetf-white};
    --ifm-menu-color: #{$wetf-white};
    /* Text */ 
    --ifm-font-color-base: #{$wetf-white};
    --ifm-toc-link-color: #{$wetf-white};
    --ifm-font-color-base-inverse: #{$wetf-white};
  }
  
  [data-theme='light'] {
    /* Style Search Plugin */
    --aa-primary-color-rgb: #{$wetf-dark-blue-rgb} !important;
    /* Menu and navigation */
    --ifm-navbar-link-color: #{$wetf-text};
    --ifm-dropdown-link-color: #{$wetf-text};
    /* Text */
    --ifm-font-color-base: #{$wetf-text};
    --ifm-toc-link-color: #{$wetf-dark-blue};
  }
  
.aa-Form:focus-within {
    box-shadow: none!important;
}

.aa-DetachedSearchButton:focus {
    box-shadow: none!important;
}

.aa-DetachedCancelButton {
  color: #{$wetf-text} !important;  
  background: $wetf-organge!important;  
  border-radius: 12px !important;
  font-size: 12px !important;
}

.hero--primary {
  --ifm-hero-background-color: var(--ifm-color-primary-dark);
  --ifm-hero-text-color: var(--ifm-font-color-base-inverse);
  background-image: url(https://wetransform.to/wp-content/uploads/2022/04/cta-bg-hpme.svg);
  background-size: cover;
}

.footer {
  position: relative;
  overflow: hidden;
  padding: 6.2rem 0 2rem;
}

.footer--dark {
  --ifm-footer-background-color: var(--ifm-color-primary-dark);
}

.footer__link-item {
  color: var(--ifm-footer-link-color);
  opacity: .7;
  font-style: normal;
  font-weight: 400;
  font-size: 0.9rem;
  line-height: 2.6rem;
}

.footer__bottom {
  opacity: .7;
  font-size: 0.8rem;
}

.button.button--secondary {
  background: $wetf-organge!important;
  color: $wetf-text;
  border-radius: 15px!important;
  border: none;
  transition: .25s;
  text-decoration: none;
  font-size: 1rem;
  padding: 20px 30px 20px 30px;
}

.faq-section-light {
  p {
    font-size: 1.2rem;
    margin-bottom: 5px;
    a {
      color: var(--ifm-font-color-base);
      text-decoration: var(--ifm-link-decoration);
      transition: color var(--ifm-transition-fast) var(--ifm-transition-timing-default);

      &:hover{
        color: var(--ifm-link-hover-color);
        text-decoration: var(--ifm-link-decoration);
      }
      code {
        font-size: 1rem;
      }
    }
  }
}

/* Custom wetf styling classes */
.wetf-copyright-link {
  text-decoration: underline;
  color: var(--ifm-color-secondary);
}

.wetf-footer-bg-right {
  right: 0;
}
.wetf-footer-bg-left {
  left: 0;
}
.wetf-footer-bg {
  position: absolute;
  top: 0;
}

.wetf-footer-logo {
  width: 3rem;
  margin-bottom: 0;
  display: inline-block;
  img {
    width: 100%;
    height: auto;
  }
  .lazy {
    transition: opacity .23s ease;
 }
}

// TODO: style tables according to theme
table {
  font-family: arial, sans-serif !important;
  border-collapse: collapse !important;
  width: 100% !important;
}

td, th {
  border: 1px solid #dddddd !important;
  text-align: left !important;
  padding: 4px !important;
}

tr:nth-child(even) {
  // background-color: #dddddd !important;
}

.popular-article {
  .wrapper {
    color: var(--ifm-menu-color);
    background: var(--ifm-background-secondary);
    border-radius: 8px;
    padding: 16px;
    box-shadow:
      0 2.8px 2.2px rgba(0, 0, 0, 0.034),
      0 6.7px 5.3px rgba(0, 0, 0, 0.048),
      0 12.5px 10px rgba(0, 0, 0, 0.06),
      0 22.3px 17.9px rgba(0, 0, 0, 0.072),
      0 41.8px 33.4px rgba(0, 0, 0, 0.086),
      0 100px 80px rgba(0, 0, 0, 0.12);
    border-bottom: solid 4px var(--ifm-color-primary);
  }
  img {
    border-radius: 2px;
  }
  a {
    display: block;
    transition: all ease-in-out .3s;
  }
  a:hover {
    transform: translateY(-4px);
  }
}

.popular-articles {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 64px 0;
  h1 {
    font-size: 42px;
    margin-bottom: 32px;
  }
}


.button--link {
  color: var(--ifm-color-primary);
  border-radius: 15px !important;
  border: none;
  transition: 0.25s;
  text-decoration: none;
  font-size: 1rem;
  padding: 20px 30px 20px 30px;
  &:hover {
    transform: translateX(4px);
  }
}